.booking {
  position: relative;
  padding-top: 50px;
  padding-bottom: 49px;
  background-color: $color-tangaroa-opacity-05;
  z-index: 1;

  @include vp-1023 {
    padding-top: 88px;
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-top: 59px;
    padding-bottom: 65px;
  }
}

.booking__container {
  padding: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-1023 {
    flex-direction: column;
  }
}

.booking__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 90%;
  z-index: -1;
}

.booking__text {
  max-width: 50%;

  @include vp-1023 {
    max-width: 100%;
    text-align: center;
  }
}

.booking h2 {
  margin-top: -7px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;

  @include vp-1023 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 34px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 130%;
  }
}

.booking p {
  margin: 0;
  width: 350px;
  font-size: 18px;
  line-height: 150%;

  @include vp-1023 {
    margin: 0 auto;
    margin-bottom: 52px;
  }

  @include vp-767 {
    width: 257px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 140%;
  }
}

.break {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.booking__form {
  max-width: 403px;
  padding: 44px 50px 51px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 45px $color-tangaroa-opacity-015;

  @include vp-767 {
    padding: 35px 30px 40px;
  }
}

.booking__form span {
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;

  @include vp-767 {
    margin-bottom: 29px;
    line-height: 140%;
    text-align: center;
  }
}

.booking form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.booking input {
  margin-bottom: 20px;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  background-color: $color-alice-blue;
  border: none;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $color-tangaroa-opacity-07;
  }

  &:hover {
    outline: 1px solid $color-alice-blue;
    outline-offset: 1px;
  }
}

.booking label[for="agree"] {
  position: relative;
  display: block;
  margin-top: 3px;
  margin-bottom: 33px;
  padding-left: 23px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $color-alice-blue;
  cursor: pointer;

  @include vp-767 {
    margin-top: -2px;
    margin-bottom: 28px;
    padding-left: 28px;
    line-height: 120%;
  }
}

.booking input[name="agree"] {
  position: absolute;
  top: 210px;
  left: 10px;
}

.booking input[name="agree"] + label[for="agree"]::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: none;
  background-color: $color-alice-blue;

  @include vp-767 {
    top: 2px;
    left: 1px;
  }
}

.booking input[name="agree"]:checked + label[for="agree"]::before {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.booking input[name="agree"]:disabled + label[for="agree"] {
  opacity: 0.4;
}

.booking input[name="agree"]:focus + label[for="agree"]::before,
.booking input[name="agree"]:hover + label[for="agree"]::before {
  outline: 1px solid $color-alice-blue;
  outline-offset: 1px;
}

.booking input[name="agree"]:disabled + label[for="agree"]::before {
  border-color: $color-tangaroa-opacity-015;
}

.booking input[name="agree"]:checked:disabled + label[for="agree"]::before {
  opacity: 0.4;
}

.booking__button {
  display: block;
  width: 100%;
  padding: 10px 10px 11px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
