.introduction {
  position: relative;
  padding-top: 270px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -1;
  min-height: 650px;

  @include vp-1023 {
    padding-top: 268px;
    min-height: 638px;
    filter: none;
  }

  @include vp-767 {
    padding-top: 176px;
    min-height: 500px;
  }
}

.introduction__container {
  padding-left: 125px;

  @include vp-1023 {
    padding-left: 45px;
  }
}

.introduction__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 650px;
  z-index: -1;
  object-fit: cover;

  @include vp-1023 {
    height: 638px;
  }

  @include vp-767 {
    height: 500px;
  }
}

.introduction h1 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%;
  }
}

.introduction p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
  }
}
