.products {
  padding-top: 85px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products h2 {
  margin: 0;
  margin-bottom: 49px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.products__item {
  position: relative;
  width: 260px;
  min-height: 386px;
  padding: 58px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%);

  &:hover,
  &:focus {
    background-color: $color-tangaroa;
  }

  @include vp-1023 {
    width: 309px;
    padding: 58px 35px 35px 35px;
  }

  @include vp-767 {
    width: 270px;
    padding: 58px 25px 35px 25px;
  }
}

.products__image {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.products h3 {
  position: absolute;
  left: 30px;
  bottom: 22px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;

  @include vp-1023 {
    left: 35px;
    bottom: 27px;
  }

  @include vp-767 {
    left: 25px;
    bottom: 17px;
  }
}

.products dl {
  display: none;
}

.products dt {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-alice-blue;
}

.products dd {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-quartz;
}

.products__button {
  display: none;
}

.products__item:hover h3,
.products__item:focus h3 {
  top: 29px;
  left: 25px;

  @include vp-1023 {
    left: 35px;
  }

  @include vp-767 {
    left: 25px;
  }
}

.products__item:hover dl,
.products__item:focus dl {
  display: block;
  margin: 0;
  padding: 0;
}

.products__item:hover .products__button,
.products__item:focus .products__button {
  position: relative;
  display: block;
  padding: 9px 15px 10px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  z-index: 1;
}
